In [1]:
#importing necesarry packages
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report

In [2]:
#reading the data
data=pd.read_csv('fertility_Diagnosis_data.txt')

In [3]:
#information about the data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 10 columns):
-0.33    99 non-null float64
0.69     99 non-null float64
0        99 non-null int64
1        99 non-null int64
1.1      99 non-null int64
0.1      99 non-null int64
0.8      99 non-null float64
0.2      99 non-null int64
0.88     99 non-null float64
N        99 non-null object
dtypes: float64(4), int64(5), object(1)
memory usage: 7.8+ KB

In [4]:
data.shape

(99, 10)

In [5]:
data.head()

   -0.33  0.69  0  1  1.1  0.1  0.8  0.2  0.88  N
0  -0.33  0.94  1  0    1    0  0.8    1  0.31  O
1  -0.33  0.50  1  0    0    0  1.0   -1  0.50  N
2  -0.33  0.75  0  1    1    0  1.0   -1  0.38  N
3  -0.33  0.67  1  1    0    0  0.8   -1  0.50  O
4  -0.33  0.67  1  0    1    0  0.8    0  0.50  N

In [6]:
data.tail()

    -0.33  0.69  0  1  1.1  0.1  0.8  0.2  0.88  N
94   -1.0  0.67  1  0    0    0  1.0   -1  0.50  N
95   -1.0  0.61  1  0    0    0  0.8    0  0.50  N
96   -1.0  0.67  1  1    1    0  1.0   -1  0.31  N
97   -1.0  0.64  1  0    1    0  1.0    0  0.19  N
98   -1.0  0.69  0  1    1    0  0.6   -1  0.19  N

In [7]:
#Changing Column name
data.columns=['Seasons','Age','Childish Disease','Accident','Surgery','High Fever','Alcohol consumption','Smoking','Sitting Hours','Diagnosis']

In [8]:
data.head()

,Seasons,Age,Childish Disease,Accident,Surgery,High Fever,Alcohol consumption,Smoking,Sitting Hours,Diagnosis
0,-0.33,0.94,1,0,1,0,0.8,1,0.31,O
1,-0.33,0.50,1,0,0,0,1.0,-1,0.50,N
2,-0.33,0.75,0,1,1,0,1.0,-1,0.38,N
3,-0.33,0.67,1,1,0,0,0.8,-1,0.50,O
4,-0.33,0.67,1,0,1,0,0.8,0,0.50,N

In [9]:
data.columns

Index(['Seasons', 'Age', 'Childish Disease', 'Accident', 'Surgery',
       'High Fever', 'Alcohol consumption', 'Smoking', 'Sitting Hours',
       'Diagnosis'],
      dtype='object')

In [10]:
#predictor Variables or Parameters
X=data.loc[:,['Seasons', 'Age', 'Childish Disease', 'Accident', 'Surgery',
       'High Fever', 'Alcohol consumption', 'Smoking', 'Sitting Hours']]

In [11]:
#target parameters
y=data.Diagnosis

In [12]:
#Training the dataset
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.33,random_state=42,stratify=data.Diagnosis)

In [13]:
from sklearn.ensemble import RandomForestClassifier

In [14]:
#ML Model - Random Forest 
rf=RandomForestClassifier()

In [15]:
rf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [16]:
#for predicting
y1=rf.predict(X_test)

In [17]:
print(accuracy_score(y_test,y1))

0.8787878787878788

In [18]:
#classification report
print(pd.crosstab(y_test,y1))

col_0       N
Diagnosis
N          29
O           4

In [19]:
#Example of the input format
rf.predict([['-0.33','1','1','1','1','0','0.6','-1','0.38']])
#the values are to be given in specific format ----- Check Attributes

array(['N'], dtype=object)

In [20]:
#Example of the input format
rf.predict([['1','0.69','1','0','1','0','0.8','-1','0.25']])

array(['N'], dtype=object)